.custom-model-content {
    width: 100%;
}

.custom-title {
    color: #70B547;
    font-size: 2.25rem;
}

.custom-close {
    margin-top: -86px;
}

.custom-button {
    background-color: #70B547;
    color: white;
    padding: 12px 75px 12px 75px;
    border-radius: 34px;
}

.custom-footer {
    border: 0px;
}

.custom-header {
    border: 0px;
}

.custom-card-body:hover {
    background-color: #70B547;
    /* color: white; */
}

.custom-text {
    color: #C3C3C3;
}

.custom-text:hover {
    color: white;
}

@media screen and (width:500px) {
    .custom-model-content {
        width: 50%;
    }
}