/* -----sidebar---- */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #70B547 !important;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.sidebar_text-s a {
    background-color: #70B547;
    color: #fff;
    border: 0px solid;
}

.sidebar_text-s a span {
    font-size: 16px;
}

.country_text-s {
    color: #70B547;
}

.filter-green-pin {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(117%) contrast(82%);
}

.list-group-flush>.list-group-item {
    border-width: 0 0 0px;
}

.filter-green-student {
    filter: invert(250%) sepia(25%) saturate(255%) hue-rotate(86deg) brightness(255%) contrast(255%);
}

.list-group-item:hover {
    background-color: #5B933A;
    color: #fff;
}

.sidebar-heading {
    background-color: #fff;
}

.customs-navbar {
    border-bottom: 1px solid #70B547;
    background-color: white;
}