/node_modules

/public/socket/node_modules
/public/socket/node_modules_old
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
*.lock
/storage/*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
